
.intro p,
article {
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(255, 255, 255, 0.01) 0 0 1px;
    -moz-osx-font-smoothing: grayscale;
    text-align: justify;
    text-indent: 50px;
/*        font-size: 12pt;*/
    
    padding-left: 55pt;
    padding-right: 55pt;
    color:floralwhite;
    text-shadow: rgba(255, 255, 255, 0.01) 0 0 1px;
    text-rendering: geometricPrecision;
/*    font-weight:bold;*/
}


/*
@media only screen and (max-width: 1026px) {
    .col-xs-1 {
        display: none;
    }
    .col-sm-10,
    .col-sm-12,
    .col-xs-10,
    .col-xs-12 {
                 display: none; 
        
        font-size: 80%;
        text-rendering: optimizeLegibility;
    }
    .largeside{
        display: none;
    }
    .referenceFooter {
        display: none;
    }
    #pp-nav {
        display: none;
    }
    .navbar {
        display: table-header-group;
    }
    
    hr{
     display: none;   
    }
}
*/

.referenceFooter ul {
    list-style-type: none;
}

.referenceFooter {
        font-size: 8pt;
}

.refrenceFooter {
    text-align: left;
    padding-left: 50pt;
}
/*

.section {
    min-height: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
}

.intro {
    min-height: 100%;
    height: 100%;
}

.midSection {
    height: 100%;
    min-height: 80%;
}
*/
/*
html,
body {
    min-height: 100%;
    height: 100%;
}

.section,
.intro,
#pagepiling {
    min-height: 100%;
    height: 100%;
}

#section1 {
    min-height: 100%;
    height: 100%;
}

.table-cell {
    display:table-cell;
    vertical-align: middle;
    width:100%;
    height:100%;
}*/

.resizeImage {
    /*      position:;*/
    
    top: 50%;
    min-height: 100%;
    display: block;
    left: 50%;
    -webkit-transform: translate(-10%, -30%);
    -ms-transform: scale(0.5, 0.5);
    /* IE 9 */
    
    -webkit-transform: scale(0.5, 0.5);
    /* Safari */
    
    transform: scale(0.5, 0.5);
    min-width: 100%;
}

.homeBackground {
/*    background: url("/images/autmn2.jpg") no-repeat center center fixed;*/
/*    background-color: rgb(10, 100, 50);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.pagination > li > a,
.pagination > li > span {
    font-size: 8pt;
    padding: 6px 6px;
}

    	.pp-easing {
		    -webkit-transition: all 3000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
		    -moz-transition: all 3000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
		    -o-transition: all 3000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
		    transition: all 3000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
		    /* custom */
		    -webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
		    -moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
		    -o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
		    transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
		    /* custom */
		}
.binomialFamily {
     text-transform: uppercase;
}

.binomialName {
    font-style: italic;
}




.midSection {
/*    color: #3D2639;*/
    background-color: #330000;
    color:floralwhite;
    height: auto;
}

.midSection2{
    height: 100%;
}

/*
.col-lg-9{
 height: 100%;   
}
*/

.no_indent {
    text-indent: 0px;
}
