.wagwep-container ul#portfolio-filter a{
  background: #001A00;
  color: #fff;
      border-color: #4CAF50;
}

.wagwep-container ul#portfolio-filter a:hover{
  background-color: #4CAF50;
  border-color: #985f0d;
}


.wagwep-container ul#portfolio-filter li.current a {
    font-weight: bold;
    background: #4CAF50;
    color: #fff;
    border-color: #985f0d;
}

.og-expander {
    background: #001A00;
}

.elastislide-wrapper {
    background-color: #004D00;
}
